@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces button {
  color: @flamingo;
}

#workspaces button.active {
  border-bottom: 4px solid @border;
}

#workspaces button:hover {
  color: @mauve;
  border-bottom: 4px solid @mauve;
}

#window {
  padding-left: 16px;
  border-left: 4px solid @flamingo;
  color: @flamingo;
}

#windows, #clock, #sound, #tray, #system, #power {
  border-radius: 26px;
  background-color: @workspaces;
  padding: 0 24px 0 24px;
}

#idle_inhabitor {
  color: @maron;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @maroon;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
}

#custom-lock{
  color: @teal;
}

#custom-power {
  color: @peach;
}
