* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.90);
}

button {
  border-radius: 0;
  border-color: #3c3836;
  text-decoration-color: #ebdbb2;
  color: #ebdbb2;
  background-color: #282828;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus, button:active, button:hover {
  /* 20% Overlay 2, 80% mantle */
  background-color: #504945;
  outline-style: none;
}

#lock {
    background-image: url("/home/caga/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/caga/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/caga/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/caga/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/caga/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/caga/.config/wlogout/icons/reboot.svg");
}
